---
import DocumentLink from "../../components/Document/DocumentLink";
import PageName from "../../components/PageName/PageName.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";
import StandartLayout from "../../layouts/StandartLayout.astro";

const res = await fetch(
  `${
    import.meta.env.PUBLIC_URL
  }/api/structure-page?populate[0]=page.documents&populate[1]=slider.image&populate[2]=pinned_links.image`
)
  .then((res) => res.json())
  .then((res) => res.data);
---

<StandartLayout title="Структура">
  <PageName title="Структура" />
  <AboutPageLayout>
    <div class="">
      <div class="">
        <div class="break-keep" set:html={res?.page?.content} />
        {
          res?.page?.documents?.map((item) => (
            
            <DocumentLink
              client:load
              filename={item.file.name}
              url={import.meta.env.PUBLIC_URL + item.file.url}
            />
          ))
        }
      </div>
    </div>
  </AboutPageLayout>
</StandartLayout>
