---
const params = Astro.props;
---

<div
  class="flex xs:flex-row md:flex-col justify-between xs:w-full md:w-1/5 min-w-40 min-h-40 max-h-[720px]"
>
  {
    params.content.map((item) => {
      return (
        <a href={item.url} class="min-w-60 min-h-60 cursor-pointer">
          <img
            src={`${import.meta.env.PUBLIC_URL}${item.image.url}`}
            alt="First slide"
            width="240px"
            height="240px"
            class="min-w-40 min-h-40 dark:grayscale cursor-pointer"
          />
        </a>
      );
    })
  }
</div>
