---
import FormattedDate from "../FormattedDate/FormattedDate";

const params = Astro.props;
---

<div class="last-news">
  <div>Все новости</div>
  <div class="last-news__container">
    {
      params?.news?.map((item) => {
        return (
          <div class="last-news__card first:relative first:flex-[0_0_auto] w-1/3 first:w-2/3 h-full md:first:h-[400px] odd:px-2 even:px-2 mt-5">
            <img
              src={`${import.meta.env.PUBLIC_URL}${item.preview_image.url}`}
              class="first:max-w-full first:max-h-[400px] max-w-[300px] max-h-[200px] h-[200px] object-cover"
            />

            <div class="last-news__card-content__container">
              <div class="last-news__card-content">
                <h3 class="text-lg break-words">
                  <a class="last-news__card-title" href={`/news/${item.id}`}>
                    {item.title.length > 60
                      ? String(item.title).substring(0, 60) + "..."
                      : item.title}
                  </a>
                </h3>

                <div class="last-news__card-date text-sm">
                  <FormattedDate date={item.publishedAt} />
                </div>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</div>

<style>
  .last-news {
    position: static;
    margin: 0 0 100px 0;
  }

  .last-news__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .last-news__card:nth-child(2) {
  }

  .last-news__card:nth-child(5) {
  }

  .last-news__card img {
    width: 100%;
  }

  .last-news__card:first-child img {
    width: 100%;
    height: 100%;
  }

  .last-news__card-content__container {
    position: static;
  }

  .last-news__card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px 0;
  }

  .last-news__card-title {
    cursor: pointer;
  }

  .last-news__card-date {
  }

  .last-news__card:first-child .last-news__card-content__container {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    height: 100%;
  }

  .last-news__card:first-child
    .last-news__card-content__container
    .last-news__card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: white;

    padding: 30px;
  }

  .last-news__card:first-child
    .last-news__card-content__container
    .last-news__card-title {
  }

  .last-news__card:first-child
    .last-news__card-content__container
    .last-news__card-date {
  }
</style>
