---
const params = Astro.props;
---

<section>
  <img class="Shanchy_photo" src="/public/Шанчы.jpg"
    class=""
    alt="Shanchy_photo"
  />
  <div
    id="indicators-carousel"
    class=""
    data-carousel="static"
  >
    <div class="">
      {
        params.content.map((item) => {
          return (
            <div
              class=""
              data-carousel-item="active"
            >
              <img
                src={`${import.meta.env.PUBLIC_URL}${item.image.url}`}
                src="/favicon.svg"
                class=""
                alt="..."
              />
            </div>
          );
        })
      }
    </div>
    <div
      class=""
    >
      {
        params.content.map((item) => {
          return (
            <button
              type="button"
              class=""
              aria-current="true"
              aria-label="Slide 1"
              data-carousel-slide-to="0"
            />
          );
        })
      }
    </div>
    <!-- Slider controls -->
    <button
      type="button"
      class=""
      data-carousel-prev
    >
      <span
        class=""
      >
        <svg
          aria-hidden="true"
          class="btn_previous"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="3"
            d="M15 19l-7-7 7-7"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class=""
      data-carousel-next
    >
      <span
        class=""
      >
        <svg
          aria-hidden="true"
          class="btn_next"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="3"
            d="M9 5l7 7-7 7"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</section>

<style>
  .Shanchy_photo{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .btn_previous{
    width: 20px;
    height: 20px;
  }
  .btn_next{
    width: 20px;
    height: 20px;
  }
</style>