---
import { AiFillPhone, AiOutlineMail } from "react-icons/ai";
---

<footer class="footer">
      <a class="footer_a" href="/"> Администрация Чаа-Хольского кожууна</a>    
      <a class="footer_oficcial" href="/">Официальный интернет-ресурс</a>

        
          <div class="footer_phone">
            <AiFillPhone />+7(394)43-2-12-18
          </div>

          <div class="footer_mail">
            <AiOutlineMail /> Chaa-hol.cog@mail.ru
          </div>
        

        <div class="">
          <a class="cursor-pointer" href="https://vk.com/chaaholrtyvaru"
            ><img
              alt="some"
              src="/vk_logo.png"
              width="30px"
              height="30px"
              class="cursor-pointer dark:grayscale"
            />
          </a>

          <!-- <a class="cursor-pointer" href="https://t.me/Chaahol"
            ><img
              alt="some"
              src="/tg_logo.png"
              width="30px"
              height="30px"
              class="cursor-pointer dark:grayscale"
            />
          </a> -->
        </div>
      

      <div class="footer_footer">
       <p>
         <a class="footer_document" href="/documents/sample.pdf">Использование материалов</a>
      </p> 
        
       <p>

         <a class="footer_document" href="/documents/personal_data.docx">О персональной информации пользователей</a>
       </p>
        
      </div>

    <hr />
    <div class="footer_paragraph">
      <p class="document_paragraph">Все материалы сайта доступны по лицензии: Лицензия на пользование</p>
    </div>
</footer>


<style>
.footer_a {
  font-size: 17px;

}
.footer_oficcial{
  font-size: 17px;
  padding-top: 0.75em;
}
.footer_phone {
  font-size: 15px;
  padding-top: 0.75em;
}
.footer_mail {
  font-size: 15px;
  padding-top: 0.75em;
}
.cursor-pointer {
  padding-top: 0.75em;
}
.footer_paragraph {
  margin-top: 0.75em;
}
 .footer_footer {
    margin-top: 0.75em;
  }
  .footer_document {
    padding-top: 0.75em;
    font-size: 15px;
  }
  .document_paragraph {
    font-size: 15px;
  }
</style>